footer .logo:hover {
    background-color: #9acd32;
}

footer .impressum {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;

}

footer a {
    color: rgba(0,0,0,0.7);
    font-weight: 700;
    text-decoration: none;

}
footer a:hover {
    color: orange;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;

    padding: 32px 80px;

    background-color: rgba(0,0,0,0.03);
    color: rgba(0,0,0,0.8);

}

