.border {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1024px;
    display: inherit;
    flex: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}

section  {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color:rgba(0,0,0,0.01);
    color: rgba(200,0,0,0.9);
    padding: 16px 80px;
}

.section-content {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    max-width: 1024px;
    gap:32px;
}

.post-short b {
    margin-right: 4px;
}

.link {
    text-decoration: none;
    color: rgba(35, 174, 238,0.9);
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;

}
.link:hover {
    color: rgba(35, 174, 238,0.5);
}

/*
    Do not allow onclick, make ist lighten
*/
.link-disable {
    cursor: unset;   
    color: rgba(35, 174, 238,0.3);
}
    
.link-disable:hover {
    color: rgba(35, 174, 238,0.3);
}

nav img,
.icon-link {
    cursor: pointer;
}

nav img:hover,
.icon-link:hover {
    filter: opacity(0.5);
}

.heart-red {
    content:url("./img/heart_red.svg");
}

.clip-blue {
    content:url("./img/clip_blue.svg");
    filter:brightness(0.7) contrast(1.5);
}

